*.py[cod]
*.egg-info
*.eggs
build/*

dist
.cache

htmlcov
.coverage
coverage.xml
.pytest_cache

doc/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode

# Mac
.DS_Store

# virtual environments
env
.env
env3
.env3
venv
venv3
.venv

docs/build
generated
